<!DOCTYPE html>
<html lang="en">
<head>
  <title>My garments shop is the best garments shop</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
</head>
<body style=background-image:url("/Media/bg1.png")>
<img src="/Media/banner1.png" alt="mygarments shop" width=100%/>

<nav class="navbar navbar-expand-sm bg-dark navbar-dark">
  <!-- Brand -->
  <a class="navbar-brand" href="#">mygarments.com</a>

  <!-- Links -->
  <ul class="navbar-nav">
    <li class="nav-item">
      <a class="nav-link" href="/about">Aboutus</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/contact">Contactus</a>
    </li>

    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Shirts
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/formal_shirts">Formal Shirts</a>
        <a class="dropdown-item" href="/casual_shirts">Casual Shirts</a>
        <a class="dropdown-item" href="/t_shirts">TShirts</a>
      </div>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
        Bottom Wears
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/trousers">Trousers</a>
        <a class="dropdown-item" href="/jeans">Jeans</a>
        <a class="dropdown-item" href="/track_pants">Trackpants</a>
      </div>
    </li>
  </ul>
</nav>
<br>
{% block content %}
{% endblock %}
</body>
</html>
